<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>dizhen-marketpred</display-name>
  
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>historyChartGenerator</servlet-name>
		<servlet-class>ibd.web.buySellLineHistChart.ServletHistChartGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>historyChartGenerator</servlet-name>
		<url-pattern>/historyChartGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fundChartGenerator</servlet-name>
		<servlet-class>ibd.web.fundCheckCharts.ServletFundChartGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fundChartGenerator</servlet-name>
		<url-pattern>/fundChartGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>outputImage</servlet-name>
		<servlet-class>ibd.web.fundCheckCharts.ServletOutputImage</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>outputImage</servlet-name>
    	<url-pattern>/outputImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>chartGenerator</servlet-name>
		<servlet-class>ibd.web.marketHistCharts.ServletChartGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chartGenerator</servlet-name>
		<url-pattern>/chartGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PriceVolumeChartGenerator</display-name>
		<servlet-name>PriceVolumeChartGenerator</servlet-name>
		<servlet-class>ibd.web.IBD50.PriceVolumeChartGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceVolumeChartGenerator</servlet-name>
		<url-pattern>/priceVolumeChartGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DownloadFile</display-name>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>ibd.web.forcedJobs.DownloadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/DownloadFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ParseDownloadedFile</display-name>
		<servlet-name>ParseDownloadedFile</servlet-name>
		<servlet-class>ibd.web.forcedJobs.ParseDownloadedFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParseDownloadedFile</servlet-name>
		<url-pattern>/ParseDownloadedFile</url-pattern>
	</servlet-mapping>
</web-app>